<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head content -->
</head>
<body>
    <h1>Bookmarked Locations</h1>
    <ul>
      <li th:each="bookmark : ${bookmarks}">
          <a th:href="@{'/bookmark/' + ${bookmark.id}}" th:text="${bookmark.name}">Bookmark Name</a>
      </li>
  </ul>
  

    <div>
        <h2>View weather for a default location</h2>
        <a href="@{/}">Bangkok</a>
    </div>

    <!-- Additional content, including the map JavaScript -->
</body>
</html>
