<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/CSS/registration.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}">
    <title>Signup</title>
</head>
<body>
    <nav> 
        <div class="nav-content">
            <a class="logo" href="#" th:href="@{/}">Weather Forecast</a>
            <div class="nav-icon">
                <div class="bar one"></div>
                <div class="bar two"></div>
            </div>

            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/bookmarks">Bookmark</a>

                <br>
                <a href="/login">Login</a>
            </div>
            
            <form th:action=@{/search} id="location-form" onsubmit="event.preventDefault();" method="get">
                <input id="location-input" type="text" placeholder="Enter a location" autocomplete="off">
                <button type="submit" onclick="getLocationDetails()"><ion-icon name="search-outline" ></ion-icon></button>
                <ui id="suggestion"></ui>
            </form> 
        </div>
    </nav>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        const inputField = document.getElementById('autocomplete');
        const suggestionsList = document.getElementById('suggestions');

        inputField.addEventListener('input', function() {
            const inputValue = inputField.value.toLowerCase();

            // Clear suggestions if the input field is empty
            if (inputValue === '') {
                clearSuggestions();
                return;
            }

            const suggestions = countries.filter(country => country.toLowerCase().startsWith(inputValue));
            displaySuggestions(suggestions);
        });

        function displaySuggestions(suggestions) {
            suggestionsList.innerHTML = '';
            suggestions.forEach(suggestion => {
                const li = document.createElement('li');
                li.textContent = suggestion;
                li.addEventListener('click', function() {
                    inputField.value = suggestion;
                    clearSuggestions();
                });
                suggestionsList.appendChild(li);
            });

            // Display the suggestions list
            suggestionsList.style.display = 'block';
        }

        function clearSuggestions() {
            suggestionsList.innerHTML = '';
            // Hide the suggestions list
            suggestionsList.style.display = 'none';
        }
    </script>
    <script>
        const navIcon = document.querySelector(".nav-icon");
        const nav = document.querySelector("nav");

        navIcon.onclick = function () {
            nav.classList.toggle('show');
        }
    </script>
       
    <main>
        <div class="box">
            <div class="inner-box">
                <div class="forms-wrap">
                    <form th:action="@{/signup}" method="post" autocomplete="off" class="sign-in-form">
                        <div class="logo">
                            <a class="logo" href="#" th:href="@{/}">Weather Forecast</a>
                        </div>
                        <div class="heading">
                            <h2>Get Start</h2>
                            <h6>Already have an account?</h6>
                            <a href="signin.html" class="toggle">Sign in</a>
                        </div>
                        <div class="actual-form">
                            <div class="input-wrap">
                                <label for="firstName"></label>
                                <input type="text" minlength="1" class="input-field" id="firstName" name="firstName" placeholder="First Name" autocomplete="off" required>
                            </div>
                            <div class="input-wrap">
                                <label for="lastName"></label>
                                <input type="text" minlength="1" class="input-field" id="lastName" name="lastName" placeholder="Last Name" autocomplete="off" required>
                            </div>
                            <div class="input-wrap">
                                <label for="username"></label>
                                <input type="text" minlength="1" class="input-field" id="username" name="username" placeholder="Username" autocomplete="off" required>
                            </div>
                            <div class="input-wrap">
                                <label for="email"></label>
                                <input type="email" minlength="1" class="input-field" id="email" name="email" placeholder="Your Email" autocomplete="off" required>
                            </div>
                            <div class="input-wrap">
                                <label for="password"></label>
                                <input type="password" minlength="1" class="input-field" id="password" name="password" placeholder="Password" autocomplete="off" required>
                            </div>
                        </div>
                        <button type="submit" class="sign-btn">Sign Up</button>
                        <p class="text">
                            By signing up, I agree to the
                            <a href="#">Terms of Services</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </form>
                </div>
                <div class="carousel">
                    <div class="images-wrapper">
                        <div class="icon1">
                            <img th:src="@{/IMG/walls-6157947.jpg}" class="image" alt="Image description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <!-- Kiattisak Deeprasert -->
</footer>
</html>
